<body [ngStyle]="{'background-image': 'url(../assets/images/swing4.jpg)', 'background-size': 'cover'}">

  <div>
      <div class="d-flex justify-content-center align-items-center" style="height:100px;">
      <div><img src="../assets/images/logo_gold.png" width="250" alt="" /></div>
    </div>

    <nav class="top-right" [ngClass]="{
  'open': isOpen
}">
      <a class="disc l1">
        <div>Activities</div>
      </a>
      <a class="disc l2">
        <div>Dining</div>
      </a>
      <a class="disc l3">
        <div>Promotion</div>
      </a>
      <a class="disc l4">
        <div>Contact Us</div>
      </a>
      <a class="disc l5 toggle" (click)="toggleMenu()">
        {{toggleText}}
      </a>
    </nav>
    <app-home></app-home>
    <router-outlet></router-outlet>
  </div>

</body>